<!DOCTYPE html>
<head>
    <meta charset="utf-8"/>
    <title>Welcome</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
</head>

<body>
    <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Logo</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down", style="padding-right=5px">
            <li><a href="/Home">Home</a></li>
            <li><button class="waves-effect waves-light btn" href="/Sign_up">Sign up</button></li>
            <li></li>
            <li><button class="waves-effect waves-light btn" href="/Login">Login</button></li>
          </ul>
        </div>
      </nav>
    <h1>Welcome to my humble site.</h1>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
