<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <head><title>{% block title %}Title of page{% endblock title %}</title></head>

    <body>
        <nav>
            {% if user.is_authenticated %}
            <a id="id_link_dashboard" href="/Dashboard">My Dashboard</a>
            <a id="id_link_logout" href="/Logout">Log out</a>
            {% else %}
            <a id="id_link_login" href="/Login">Login</a>
            {% endif %}
        </nav>
        {% block content %}
        New content
        {% endblock content %}
    </body>
</html>