{% extends "base.html" %}

{% block title %} Create Account {% endblock title %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-6 text-center">
        <br><h1>Create Account</h1><br>
        <form method="POST">
            {{form.username.label}}<br>
            {{ form.username }}<br>
            {{form.password1.label}}<br>
            {{form.password1}}<br>
            {{form.password2.label}}<br>
            {{form.password2}}<br><br>
            {% for _, errors in form.errors.items %}
                {% for error in errors %}
                <p>{{ error }}</p>
                {% endfor %}
            {% endfor %}
            {% csrf_token %}
            <button id="id_submit" class="btn btn-info" type="submit">Create Account</button>
        </form>
        <br>
        <p>Already got an account? <a href="/Login">Log in</a></p>
    </div>
</div>
{% endblock content %}