{% extends "base.html" %}
{% block title %} Dashboard - {{ user.username }} {% endblock title %}

 {% block content %}
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <h1>Hello, {{user.username}}</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                
            </div>
            <div class="col-lg-6 text-center"></div>
            <div class="col-lg-6 text-center">
                <a class="btn btn-info" id="id_link_new_mealplan" href="/mealplans/new">New mealplan</a>
            </div>
        </div>
        <div class="row justify-content-center">
            {% for mealplan in mealplans %}
            <div class="card">
                <h2 id="id_mealplan_header">{{ mealplan.name }}</h2>
            </div>
            {% endfor %}
        </div>
{% endblock content %}