{% extends "base.html" %}
{% block title %} Login {% endblock title %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-6 text-center">
        <br><h1 class="header">Log In</h1><br>
        <form method="POST">
            {{ form.as_p }}
            {% if error %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endif %}
            {% csrf_token %}
            {% for _, errors in form.errors.items %}
                {% for error in errors %}
                <p>{{ error }}</p>
                {% endfor %}
            {% endfor %}
            <button id="id_submit" class="btn btn-info" type="submit">Log in</button>
        </form>
        <br>
        <p>No account? <a href="/Create-Account">Register</a></p>
    </div>
</div>
{% endblock content %}