{% extends "base.html" %}

{% block title %} New Recipe {% endblock %}


{% block content %}

<header>
    <h1 id="id_header">New Recipe</h1>
</header>

<main>
    <form method="post">
        {{ form.name.label }}: {{form.name}}
        <hr>
        {{ formset.management_form }}
        {% for form in formset.forms %}
        {{ form }} <br>
        {% endfor %}
        <hr>
        {{ form.method.label }} <br>
        {{ form.method }}
        {% csrf_token %}
        <button class="btn btn-info" id="id_submit" type="submit">Create</button>
    </form>
</main>

{% endblock %}